.cardi{border-radius:10px;
  box-shadow: 0px 15px 20px rgba(0, 123, 255, 0.1);
  width: 20rem;
  height: 16rem;
  border:none;
  transition: all 0.3s ease 0s;
    cursor: pointer;
    margin:2rem;
  }
.cardi:hover{border-radius:10px;border:none;transform: translateY(-7px);}
.card-sub{display: inline-block;}
.head-ur-sub{font-size:32px;font-weight: 500;}
@media screen and (max-width: 600px) {
  .head-ur-sub{font-size:22px;font-weight: 500;}
  .clr{background-color: skyblue;}
}
