{% extends 'interface/base.html' %}

{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center mt-1">
        <div class="col-md-5 col-sm-12 p-4 text-center">
            <h1>Your history</h1>
            <a href="{% url 'interface:test' %}">Go to the homepage</a>
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-md-12 mt-5">
        <table class="table table-hover table-striped">
            <thead>
              <tr>
                
                <th scope="col">Price</th>
                <th scope="col">Name</th>
                
              </tr>
            </thead>
            <tbody>
                {% for myorder in myorders %}
                <tr>
                    
                    <td>{{ myorder.price }}</td>
                    <td>{{ myorder.name }}</td>
                    <td>
                    </td>
             
                    
                </tr>
                {% endfor %}

            </tbody>
          </table>
    </div>
                        {% for i in myid %}
                        {{i.name}}
                        {% endfor %}
</div>
{% endblock content %}