{% extends 'customer/base.html' %}

{% block content %}
        <div class="container"> 
            <div class="row">
                <div class="col-lg-6">
                    <h2 class="mx-2 my-4" style="font-size: 5rem; font-weight:800;">Giving your Hunger a new Option</h2>
                    <a href="{% url 'order' %}" class="btn btn-success px-5 mx-3"> Order now </a>
                    
                    </div>
    
    
                    <div class="col-lg-6">

                        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<lottie-player src="https://assets5.lottiefiles.com/private_files/lf30_6yjihjym.json"  background="transparent"  speed="1"  style="width: 500px; height: 500px;"  loop  autoplay></lottie-player>
                    </div>
            </div>
                
     </div>
          
     
{% endblock content %}