{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark "  style="background-color: #52b788; box-shadow: 0px 0px; font-size:20px;font-weight: 700;">
    <a class="navbar-brand" href="#"><img src="{% static 'images/smclogo.png' %}" width="150px" alt="" /></a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'interface:history' %}">History</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About us</a>
        </li>
       
      </ul>
      <ul class="navbar-nav">
         <li>
        <a class="nav-item nav-link btn btn-danger"  href="{% url 'logout' %}" class="btn btn-simple">Log out</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-danger" href="{% url 'interface:order' %}">Place an Order!</a>
        </li>
      </ul>
    </div>
</nav>