{% extends 'interface/base.html' %}

{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center mt-4">
        <div class="col-md-4 col-sm-12 p-4 mysvgbackground" style="background: white;padding:0px;border-radius:18px;">
        
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#ff5500" fill-opacity="1" d="M0,256L30,266.7C60,277,120,299,180,277.3C240,256,300,192,360,160C420,128,480,128,540,144C600,160,660,192,720,181.3C780,171,840,117,900,133.3C960,149,1020,235,1080,240C1140,245,1200,171,1260,133.3C1320,96,1380,96,1410,96L1440,96L1440,0L1410,0C1380,0,1320,0,1260,0C1200,0,1140,0,1080,0C1020,0,960,0,900,0C840,0,780,0,720,0C660,0,600,0,540,0C480,0,420,0,360,0C300,0,240,0,180,0C120,0,60,0,30,0L0,0Z"></path></svg> 
          <h1 >Order Submitted!</h1>
            <!-- <p>You should receive a confirmation email soon.</p> -->
        
            <h3 class="">Order Summary:</h3>
            {% for item in items.all %}
                <p>{{ item.name }} <span class="">{{ item.price }}</span></p>
            {% endfor %}

            <p class="font-weight-bold  ">Total: {{ price }}</p>
            <h6>Pay Now or Pay With Cash On Delivery</h6>
      


            <div class=" text-center">
                <div id="paypal-button"></div>
            </div>
            <a href="{% url 'interface:test' %}" >Go to the homepage</a>
  
          </div>
    </div>

            
   
           
</div>



<script src="https://www.paypalobjects.com/api/checkout.js"></script>
<script>
  function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
const csrftoken = getCookie('csrftoken');

  paypal.Button.render({
    // Configure environment
    env: 'sandbox',
    client: {
      sandbox: 'ATf0mGB3vK4K0ruj9oujCFC_YSC_2W-PmNuNYNdcqdixOKmz7mic_Wadms0Ua7d7X9T4sl9phxJwwgIh',
      production: 'demo_production_client_id'
    },
    // Customize button (optional)
    locale: 'en_US',
    style: {
      size: 'large',
      color: 'blue',
      shape: 'rect',
    },

    // Enable Pay Now checkout flow (optional)
    commit: true,

    // Set up a payment
    payment: function(data, actions) {
      return actions.payment.create({
        transactions: [{
          amount: {
            total: '{{ price }}',
            currency: 'USD'
          }
        }]
      });
    },
    // Execute the payment
    onAuthorize: function(data, actions) {
      return actions.payment.execute().then(function() {
        // Show a confirmation message to the buyer
        $.ajax({
            type: 'POST',
            url: "{% url 'interface:order-confirmation' pk %}",
            beforeSend: function(request) {
                request.setRequestHeader('X-CSRFToken', csrftoken)
            },
            data: JSON.stringify({'isPaid': true}),
            success: function(data) {
                window.location.href = 'interface/payment-confirmation/'
            }
        })
      });
    }
  }, '#paypal-button');

</script>
{% endblock content %}