{% extends 'base.html' %}

{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center mt-1">
        <div class="col-md-5 col-sm-12 p-4 text-center">
            <h1>Your Payment has been Submitted!</h1>
<center>
            <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<lottie-player src="https://assets3.lottiefiles.com/private_files/lf30_uu4hqcmj.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop  autoplay></lottie-player>
          </center>
            <a class="btn  grekbutton"href="{% url 'interface:test' %}">Go to the homepage</a>
        </div>
    </div>
</div>
{% endblock content %}
