{% extends "problems/base.html" %}
{% block content %}
<br>
<div class="container">
  <form style="display:inline-block" class="" action="" method="post">
    {%csrf_token%}
    <button class="btn btn-info" value="Easy" type="submit" name="srh">Easy</button>
  </form>
  <form style="display:inline-block" class="" action="" method="post">
    {%csrf_token%}
    <button class="btn btn-info" value="Medium" type="submit" name="srh">Medium</button>
  </form>
  <form style="display:inline-block" class="" action="" method="post">
    {%csrf_token%}
    <button class="btn btn-info" value="Hard" type="submit" name="srh">Hard</button>
  </form>

</div>
<div class="row">


      {% for item in items %}
    <div class="col-lg-4">
      <form class="" action="/problems/info/" method="post">
        {%csrf_token%}
        <input type="hidden" name="xxx" value="{{item.no}}">

          <div class="card cardi shadow" style="">
            <div class="card-body">
              <small style="float:right;" class="text-muted">Difficulty : {{item.difficulty}}</small>
              <br>

              <h5 class="card-title">{{item.name}}</h5>

              <p class="card-text">{{item.info}}</p>

            </div>
            <div class="card-footer">
              <button class="btn btn-success" type="submit" name="asg" value="{{item.name}}">Solve Challenge</button>

            </div>
            </div>
      </form>
    </div>

    {%endfor%}


</div>
<div class="row">

      {% if sr %}
      {% for k in sr %}
    <div class="col-lg-4">
      <form class="" action="/problems/info/" method="post">
        {%csrf_token%}
        <input type="hidden" name="xxx" value="{{k.no}}">

          <div class="card cardi shadow">
              <div class="card-body">
                <small style="float:right;" class="text-muted">Difficulty : {{k.difficulty}}</small>
                <br>

                <h5 class="card-title">{{k.name}}</h5>
                <p class="card-text">{{k.info}}</p>

              </div>
              <div class="card-footer">
                <button class="btn btn-success" type="submit" name="asg" value="{{k.name}}">Solve Challenge</button>

              </div>
              </div>
      </form>
    </div>

    {%endfor%}
{%endif%}

</div>
{% endblock %}
