{% extends "teacher/base.html" %}
{% block content %}
{% load static %}
<br>
<div class="">
<h3 style="font-weight:bold;color: #007BFF ">Dashboard</h3>
<hr style="background-color:blue">
<br>
<div class="">
  <div class="row">

  <a href="{%url 'problems:ques'%}" style="text-decoration:none" class="card d-cards education ">
       <div class="overlay"></div>
    <div class="circle">
    <i class="fa fa fa-plus-square circle-svg" style="font-size:60px; color:#B7791F"></i>
    </div>
    <p>Add Question</p>
  </a>

  <a href="{%url 'problems:view_score'%}" style="text-decoration:none" class="card d-cards credentialing">
       <div class="overlay"></div>
    <div class="circle">
      <i class="fas fa-check-square circle-svg" style="font-size:60px;color:#68D391"></i>

    </div>
    <p>View Submissions</p>
  </a>

  <a href="{%url 'problems:statements'%}" style="text-decoration:none" class="card d-cards wallet">
       <div class="overlay"></div>
    <div class="circle">
      <i class="fa fa-server circle-svg" style="font-size:60px;color:#805AD5"></i>


    </div>
    <p>View Questions</p>
  </a>
  <a href="{% url 'problems:analysis' %}" style="text-decoration:none" class="card d-cards human-resources">
      <div class="overlay"></div>
   <div class="circle">
     <i class="fa fa-bar-chart circle-svg" style="font-size:60px;color:#4299E1"></i>

   </div>
   <p>Student Analysis</p>
 </a>


  </div>

</div>
</div>
{%endblock%}
