{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load bootstrap4 %}
      <div class="login-form">
      <div class="row">
        <div class="col-lg-6 log-cls-line7" >
        <div class="col-lg-8 p-3" >
        <h1 class="type-log">Log in</h1>
        <form method="post" novalidate>
          {% csrf_token %}
          <input type="hidden" name="next" value="{{ next }}">
          <br>
          {% bootstrap_form form%}
          <br>
          <button type="submit" class="btn-submit-login btn">Log in</button>
          <!-- <a href="#" class="btn btn-lg btn-sdw" >Sign in</a> -->

        </form>
        <br>
        <a href="{% url 'student_signup' %}" style="text-decoration:none;"><h7 style="color:black">Don't have an account?<span style="color:blue"> Sign up</span></h7></a>
      </div></div>

        <div class=" col-lg-6 col-md-12 login-img" style="padding-top:5rem;">
          <img src="{% static "images/background.png"%}" width="700px">
        </div>

      </div>
      </div>
{% endblock %}
