{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load bootstrap4 %}
<div class="container">
      <div class="login-form">
      <div class="row">
        <div class="col-lg-6 log-cls-line7" >
        <div class="col-lg-8 p-3" >
        <h1 class="type-log">Log in</h1>
        <form method="post" novalidate>
          {% csrf_token %}
          <input type="hidden" name="next" value="{{ next }}">
          <br>
          {% bootstrap_form form%}
          <br>
          <button type="submit" class="logbtn"><span>Login</span><em></em></button>
          <!-- <a href="#" class="btn btn-lg btn-sdw" >Sign in</a> -->

        </form>
        <br>
        <br>
        <br>
        <center>
        <a href="{% url 'student_signup' %}"  style="text-decoration:none; margin-top: 14px;"><h7 style="color:black">Don't have an account?<span style="color:blue"> Sign up</span></h7></a>
    </center>  </div></div>

        <div class=" col-lg-6 col-md-12 login-img hideele" style="padding-top:5rem;">
          <img src="{% static "3caf.svg"%}" width="700px">
        </div>

      </div>
      </div>
    </div>
{% endblock %}
