{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load bootstrap4 %}
  <div class="container">

  <div class="row login-form">
  <div class="col-lg-6 log-cls-line7">
      <h2 class="sign-head2">Sign up</h2><h2 class="signup-head"> As {{ user_type }}</h2>

      <form method="post" novalidate>
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-success btn-lng">Sign up</button>
      </form>  </div>
      <div class="col-lg-6 sign-up-img hideele">
        <img src="{% static '1caf.svg'%}" width="700px">
      </div>
</div>
</div>

{% endblock %}
