{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="row">

    <div class="col-lg-6 col-md-12 top first">
    <img class="align-items-center phn-img"src="{% static "images/heroimgg.png"%}" style="margin:0% 15%;" width="250px">
    <h1 class="head-line">Anybody can write code
      that a computer can
      understand.</h1><br>
      <h5 class="sub-head">Improve your skills by training with others on
      real code challenges</h5>

      <br><br>
    <a href="{% url 'student_signup' %}" class="btn btn-lg btn-sdw button" style="background-color: #007BFF;color:white;box-shadow: 0px 15px 20px rgba(0, 123, 255, 0.3);">Sign up and Code</a>
    <a href="{% url 'login' %}" class="btn btn-lg btn-sdw btn-dawn">Log in</a>
    </div>
    <div class="img-hero col-lg-6 col-md-12">
      <img class="align-items-center"src="{% static "images/034.png"%}" style="margin-top:5rem" width="500px">

    </div>
  </div>
{% endblock %}
