{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="container-fluid lanbackground" style="height:90vh;margin:0"> 
  <div class="landing-content mx-auto  text-center" style="margin: 11%;">
    
          <h2 class=" my-4 landhead mx-8 pt-4" >Giving your Hunger a new Option</h2>
          <div class="wrapper">
            <a class="button" href="{% url 'student_signup' %}">Getting Started</a>
        </div>
        
        <!-- Filter: https://css-tricks.com/gooey-effect/ -->
        <svg style="visibility: hidden; position: absolute;" width="0" height="0" xmlns="http://www.w3.org/2000/svg" version="1.1">
            <defs>
                <filter id="goo"><feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />    
                    <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="goo" />
                    <feComposite in="SourceGraphic" in2="goo" operator="atop"/>
                </filter>
            </defs>
        </svg>
        
    <a href="{% url 'login' %}" class=" btnlogin" > Already have account? Login</a>
   
      
  </div>
</div>
   
<img src="{% static 'pann.png' %}" width="350px" style="z-index:0 ; position: absolute;top:51%; transform: rotate(31deg);" alt="" />
<img src="{% static 'cupp.png' %}" width="199px" style="position: absolute;right: 0;top:11%" alt="" />

  
{% endblock %}
