{% load static %}
<!-- logo -->

<nav>
  <div class="hamburger">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
  <ul class="nav-links">
    {% if user.is_authenticated %}
    {% if user.is_student%}
    <li >
      <a  href="{% url 'interface:history' %}">History</a>
    </li>
    <li >
      <a  >About us</a>
    </li>
    <li >
      <a  href="{% url 'interface:order' %}">Place an Order!</a>
  </li>
  <li><a   href="{% url 'logout' %}">Log out</a></li>
  {% else %}
  <li >
    <a  href="{% url 'interface:dashboard' %}">dashboard</a>
  </li>
  <li >
    <a  href="{% url 'interface:menulist' %}">EditMenu</a>
  </li>
  <li >
    <a  href="{% url 'interface:additem' %}">Add Item</a>
  </li>
  
     <li>
    <a   href="{% url 'logout' %}">Log out</a>
    </li>
    
 
  {% endif %}
  {% else %}
  <li >
    <a href="55" >About us</a>
  </li>
  <li>
  <a href="{% url 'login' %}" class="btn btn-outline-success">Log in</a>
  </li><li>
  <a href="{% url 'student_signup' %}" class="btn btn-outline-success">Sign up</a>
  </li>
  {% endif %}
  </ul>
</nav>

<script>
const hamburger = document.querySelector(".hamburger");
const navLinks = document.querySelector(".nav-links");
const links = document.querySelectorAll(".nav-links li");

hamburger.addEventListener("click", () => {
  navLinks.classList.toggle("open");
  links.forEach(link => {
    link.classList.toggle("fadeed");
  });
});
</script>