{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="container-fluid">
 
    <div class="row ">
       

    
 <div class="col-md-3 col-sm-12 row m-3 .infocard" style="background:white;"> 
            <div class=" col-md-12 col-sm-4 pt-3" >
                <center>   <img src="{% static 'mann.png'%}" width="90px"> </center> 
                <h5 class="text-center mt-3 ">Today's Collection</h5>
                
                <h3 class="text-center mb-1"  style="font-weight: bold;">{{ total_revenue }}</h3>
             
        </div>

        <div class="col-md-12 col-sm-4 .infocard p-4" style="background:white;" >
         <center>  <img src="{% static 'coin.png'%}" width="190px"> </center> 
            <h5 class="text-center  ">Today's Total Orders</h5>
            
            <h3 class="text-center mb-1"  style="font-weight: bold;">{{ total_orders }}</h3>
        </div>
        
        <div class="col-md-12 col-sm-4 .infocard" >
           
        </div>
</div>      
            <table class="table table-hover table-borderless col-md-8 col-sm-12 mt-3 dashtable">
               
                <thead style="font-weight: 800;">
                  <tr>
                    <th scope="col">Order ID</th>
                    <th scope="col">Price</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Purchased</th>
                    <th scope="col">Is Paid?</th>
                  </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                    <tr>
                        <th scope="row">{{ order.pk }}</th>
                        <td>{{ order.price }}</td>
                        <td>{{ order.name }}</td>
                        <td>{{ order.email }}</td>
                        <td>{{ order.items_name }}</td>
                        <td>
                            {% if order.is_paid %}
                            <i style="color: green;" class="fas fa-check"></i>
                            {% else %}
                            <i style="color: red;" class="fas fa-times"></i>
                            {% endif %}
                        </td>
                      
                    </tr>
                    {% endfor %}
                </tbody>
              </table>
        </div>
    </div>
</div>
{% endblock content %}