{% extends 'interface/base.html' %}

{% block content %}

<div class="container-fluid">
    <div class="dashb m-3 ">
        <h1><i class="fa fa-play " style=" margin-top:15px;color:#887FCE; 
        text-align: center ;font-size: 28px;background: #B5AFEF; 
        padding: 14px ;border-radius: 41px; margin-right: 9px;" aria-hidden="true"></i> Dashboard</h1>
    </div>
    <div class="row ">
       

    
 <div class="col-md-3 col-sm-12 row m-3" > 
            <div class=" col-sm-6 col-md-12" style="background-color: #AAE1F6" >
                <center> <i class="fa fa-inr " style=" margin-top:15px;color:#AAE1F6; text-align: center ;font-size: 28px;background: #71B8D6; padding: 14px 19px;border-radius: 41px;" aria-hidden="true"></i>
                </center>
            <h4 class="text-center mt-3 ">Today's Total Revenue</h4>
           
            <h1 class="text-center mb-1">{{ total_revenue }}</h1>
        </div>

        <div class="col-sm-6 col-md-12" style="background-color: #BFE28E;">
            <center> <i class="fas fa-user-astronaut" style=" margin-top:15px; text-align: center ;color:#BFE28E;font-size: 28px;background: #91BB55; padding: 14px;border-radius: 41px;" aria-hidden="true"></i>
            </center> 
            <h4 class="text-center mt-3">Today's Total Orders</h4>
        
            <h1 class="text-center mb-1" >{{ total_orders }}</h1>
        </div>
</div>
            <table class="table table-hover table-borderless col-md-8 col-sm-12 mt-3">
                <thead style="background-color: #91BB55; color:white;">
                  <tr>
                    <th scope="col">Order ID</th>
                    <th scope="col">Price</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Purchased</th>
                    <th scope="col">Is Paid?</th>
                  </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                    <tr>
                        <th scope="row">{{ order.pk }}</th>
                        <td>{{ order.price }}</td>
                        <td>{{ order.name }}</td>
                        <td>{{ order.email }}</td>
                        <td>{{ order.items_name }}</td>
                        <td>
                            {% if order.is_paid %}
                            <i style="color: green;" class="fas fa-check"></i>
                            {% else %}
                            <i style="color: red;" class="fas fa-times"></i>
                            {% endif %}
                        </td>
                      
                    </tr>
                    {% endfor %}
                </tbody>
              </table>
        </div>
    </div>
</div>
{% endblock content %}