  
{% extends "base.html" %}
{% load static %}
{% block content %}
<br>

<div class="container-fluid col-lg-8">
  <h1><i class="fa fa-play " style=" margin-top:15px;color:#887FCE; 
    text-align: center ;font-size: 28px;background: #B5AFEF; 
    padding: 14px ;border-radius: 41px; margin-right: 9px;" aria-hidden="true"></i>
    Edit Question</h1>
<form action="/interface/edit_all/"  method="post">
  {% csrf_token %}
  <div class="">
    <h6 class="mic">Enter Item Name</h6><input class="form-control" type="text" name="name" value="{{name}}"><br>
    <h6 class="mic">Description</h6><input class="form-control" type="text" name="description" value="{{description}}"><br>
    <h6 class="mic">Image Url</h6><input class="form-control" type="text" name="image" value="{{image}}"><br>
    <!-- <h6 class="mic">Enter Question Statement</h6>
    <textarea name="question" class="form-control" rows="8" cols="80" class="col-sm-4"></textarea><br> -->
    
    <h6 class="mic">Price</h6><input class="form-control" type="text" name="price" value="{{price}}"><br>
    <h6 class="mic">Category</h6><input class="form-control" type="text" name="category" value="{{category.name}}"><br>
    <input type="hidden" name="imp" value="{{no}}">
    <div class="form-group row">
      <div class="col-sm-7 ml-3">
        <button onclick="alert('Qusetion Edited Successfully!')" class="btn btn-outline-success float-right"  type="ques" >Save</button>
      </div>
    </div>
  </div>
  </form>
  </div>
  <br><br>
      <button class="btn btn-primary" onclick="window.location.href='/interface/dashboard'">Back</button>

{% endblock%}