{% extends "interface/base.html" %}
{% load static %}
{% block content %}
<br>
<h1>Problem Statements</h1>
<br><br>
<div class="shadow-sm">

  <div class="table-responsive">
  <table class="table">
    <thead>
      <!-- <th scope="col">No.</th> -->
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <!-- <th scope="col">Edit</th>
      <th scope="col">Delete</th> -->
    </thead>
    {% for e in menulist%}
    <tr>
      
      <td>{{e.name}}</td>
      <td>{{e.price}}</td>
      <!-- <td><a href="/problems/edit/{{e.name}}">Edit</a></td>
      <td><a href="/problems/delete/{{e.name}}">Confirm Delete</a></td> -->
    </tr>
    {%endfor%}
    </table>
  </div>

</div>
<br><br>
    <button class="btn btn-primary" onclick="window.location.href='/teacher/dashboard'">Back</button>


{%endblock%}