{% extends "interface/base.html" %}
{% load static %}
{% block content %}
<br>
<h1><i class="fa fa-play " style=" margin-top:15px;color:#887FCE; 
  text-align: center ;font-size: 28px;background: #B5AFEF; 
  padding: 14px ;border-radius: 41px; margin-right: 9px;" aria-hidden="true"></i>Problem Statements</h1>
<br><br>
<div class="shadow-sm">

  <div class="table-responsive table-borderless">
  <table class="table">
    <thead>
      <!-- <th scope="col">No.</th> -->
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <!-- <th scope="col">Edit</th>
      <th scope="col">Delete</th> -->
    </thead>
    {% for e in menulist%}
    <tr>
      
      <td>{{e.name}}</td>
      <td>{{e.price}}</td>
      <td><a class="btn btn-info btn-sm" href="/interface/edit/{{e.name}}">Edit</a></td>
      <td><a class="btn btn-danger btn-sm" onclick="alert('Item Deleted')" href="/interface/delete/{{e.name}}">Confirm Delete</a></td>
    </tr>
    {%endfor%}
    </table>
  </div>

</div>
<br><br>
    <button class="btn btn-primary" onclick="window.location.href='/interface/dashboard'">Back</button>


{%endblock%}