{% extends "teacher/base.html" %}
{% load static %}
{% block content %}
<br>

<div class="container-fluid col-lg-8">
  <h1 class="add-ques-h1">Add Question</h1>
  <form action=""  method="post">
    {% csrf_token %}
    <div class="">
    <h6 class="mic">Question Number</h6><input class="form-control" type="number" name="no" value=""><br>
    <h6 class="mic">Enter Name</h6><input class="form-control" type="text" name="name" value=""><br>
    <h6 class="mic">Difficulty</h6><input class="form-control" type="text" name="difficulty" value=""><br>
    <h6 class="mic">Info</h6><input class="form-control" type="text" name="info" value=""><br>
    <h6 class="mic">Enter Question Statement</h6>
    <textarea name="question" class="form-control" rows="8" cols="80" class="col-sm-4"></textarea><br>
    <h6 class="mic">Input1</h6><input class="form-control" type="text" name="input1" value=""><br>
    <h6 class="mic">Input2</h6><input class="form-control" type="text" name="input2" value=""><br>
    <h6 class="mic">Output1<h6><input class="form-control" type="text" name="output1" value=""><br>
    <h6 class="mic">Output2</h6><input class="form-control" type="text" name="output2" value=""><br>
    <div class="form-group row">
        <br>
        <button onclick="alert('Qusetion Added Successfully!')" class="btn btn-outline-success btn-upload-ques"  type="ques" >Submit</button>

    </div>
    </div>
  </form>
  <br><br>

      <button class="btn btn-primary back-btn" onclick="window.location.href='/problems/teacher'">Back</button>
</div>
{%endblock%}
